body {
    background-color:#2a323b;
    font-family: Arial, Helvetica, sans-serif;
    color: #cecccc;
    padding: 30px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 0px;
    -webkit-text-fill-color: #cecccc;
    -webkit-box-shadow: 0 0 0px 1000px #484f5c inset;
    transition: background-color 5000s ease-in-out 0s;
}
input, textarea {
    background-color:#484f5c;
    border: 0px none;
    color: #cecccc;
}
.minuteForm input{
    width: 100px;
    min-width: 100px;

}
.minuteForm textarea{
    width: 190px;
    min-width: 190px;
    height: 50px;
}

.minuteForm > section{
    display: grid;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.loadModal {
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.loginModal-content {
    background-color:#2a323b;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
    border: none;
}
.loadModal-content {
    position: fixed;
    bottom: 0;
    background-color:#2a323b;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}
.modal-header {
    padding: 2px 16px;
    background-color: #484f5c;
    color: white;
}
.modal-body {padding: 2px 16px;}

/* Add  slide in animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.container {
    background-color:#2a323b;
    padding: 16px;
}

span.password {
    float: right;
    padding-top: 16px;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

#page-mask {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
}

a.button{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:1em;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#cecccc;
    background-color:#484f5c;
    text-align:center;
    transition: all 0.2s;
}
a.button:hover{
    background-color:#4095c6;
}

.required{
    border: solid 1px red;
}


